@page
@model SE1611_Group1_A3.Pages.Shopping._401Model
@{
}
<div style="text-align: center;">
    <img style="width:600px; height: 600px;" src="~/images/401.png" />
    <h1 style="font-size: 64px">
        401 Unauthorized
    </h1>
</div>